.account_me__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.photo_block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;

    @media (max-width: 1200px) {
        width: 60%;
    }

    @media (max-width: 800px) {
        width: 80%;
    }
}

.photo_block img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.title {
    font-size: 1.1rem;
    font-weight: 600;
}

.file_input {
    width: 0%;
    display: none;
}

.file_input__label {
    cursor: pointer;
}
