.layout {
    display: flex;
    flex-direction: column;
    padding: 1em 7em;
    gap: 2em;
}

@media (max-width: 1000px) {
    .layout {
        padding: 1rem 2rem;
        gap: 1.5rem;
    }
}

@media (max-width: 450px) {
    .layout {
        padding: 1rem 1rem;
        gap: 1rem;
    }
}

.content {
    display: flex;
    gap: 2rem;

    @media (max-width: 650px) {
        flex-direction: column;
    }
}

.content_navigate {
    display: flex;
    flex-direction: column;
    width: 25rem;
    background-color: var(--background-color);
}

.content_navigate__header {
    font-weight: 600;
    font-size: 1.2rem;
    padding: 20px;
}

.content_navigate__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: 1px solid var(--line-color);
    padding-bottom: 1rem;

    @media (max-width: 450px) {
        flex-direction: row;
    }
}

.content_navigate__item {
    display: flex;
    gap: 1rem;
    padding: 1rem 1rem 1rem 2rem;
    border-left: 5px solid var(--white);
}

.active {
    border-left: 5px solid var(--green);
    color: var(--green);
    background-color: var(--white);
}

.content_navigate__footer {
    padding: 1rem 0;
}

.logout_text {
    font-weight: 600;
    color: var(--green);
}

.outlet {
    width: 100%;
}
