.post {
    max-width: 268px;
    background-color: var(--background-color);
}

.post-content {
    padding: 1.5em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.title {
    font-weight: 700;
    font-size: 1.4em;
}

.description {
    color: var(--second-text-color);
    font-size: 1em;
}

.link {
    color: var(--text-color);
    font-weight: 700;
    display: flex;
    gap: 0.4em;

    &:hover {
        color: var(--green); 
    }
}