.order_item {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: var(--background-color);
    padding: 0 2rem;

    @media (max-width: 1800px) {
        padding: 0 1rem;
    }

    flex-wrap: wrap;
}

.order_item:first-child {
    flex: 2;
}

.order_item__head {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.order_item__image {
    width: 80px;
    height: 80px;
}

.order_item__description {
    padding: 0 0.5rem;
}

.product_name {
    font-weight: 600;
    font-size: 1.1rem;
}

.product_id {
    color: var(--white-gray-second-text-color);

    span {
        color: var(--second-text-color);
    }
}

.order_item__price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--second-text-color);
}

.order_item__quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.product_count {
    font-size: 1.2rem;
}

.order_item__total {
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
    gap: 3rem;
}

.order_item__total_sum {
    font-size: 1.2rem;
    color: var(--green);
    font-weight: 600;
}

.order_item__delete {
    cursor: pointer;
}

.order_item__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}
