.blog_block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 2rem;
}

.short_description {
    font-size: 1rem;
    color: var(--second-text-color);
}

.posts_container {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}
