.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.55);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 998;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 6px ;
}

.modal-container {
    background-color: var(--white);
    position: relative;
    /* height: 100%; */
    z-index: 999;
    width: 40%;
    border-bottom: 10px solid var(--green);
}

.modal-content {
    /* padding: 40px; */
}

.modal-exit {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: none;
    cursor: pointer;
}