.footer_cart {
    max-width: 200px;
    max-height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.footer_cart img {
    max-width: 6rem;
    max-height: 6rem;
}

.footer_cart__title {
    font-size: 1.1rem;
    font-weight: 700;
}
