.header {
    width: 100%;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 650px) {
    }
}

.header_no_scroll {
    overflow-y: hidden;
}

.header_navigate {
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 100%;

    @media (max-width: 800px) {
        display: none;
    }
}
.navigate_item {
    color: var(--text-color);
    font-weight: 400;

    &:hover {
        color: var(--green-hover);
    }
}

.active {
    font-weight: 700;
    border-bottom: 3px solid var(--green);
}

.header_right {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.cart {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    @media (max-width: 650px) {
        display: none;
    }
}

.cart img {
    width: 1.8rem;
}

.account {
    display: flex;
    align-items: center;
    position: relative;

    @media (max-width: 650px) {
        display: none;
    }
}

.account img {
    width: 1.5rem;
}

.cart_count {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.8em;
    width: 2.8em;
    font-size: 0.5rem;
    position: absolute;
    top: 4px;
    right: 0px;
    font-weight: 600;
    border: 2px solid var(--white);
    border-radius: 50%;
    background-color: var(--green);
    color: var(--white);
}

.search_wrapper {
    position: relative;

    @media (max-width: 650px) {
        display: none;
    }
}

.auth_button {
    @media (max-width: 650px) {
        display: none !important;
    }
}

.search_results {
    position: absolute;
    top: 100%;
    left: -100%;
    border-radius: 0.5rem;
    max-height: 0px;
    overflow-y: auto;
    width: clamp(16rem, 80vw, 20rem);
    /* width: 20rem; */
    z-index: 1;
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: max-height 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search_results__open {
    border: 1px solid #eee;
    padding: 1rem 0;
    max-height: 500px;

    transition: max-height 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search_results div {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.search_results div:hover {
    background-color: #f3f3f3;
}

.search_item {
    display: flex;
    gap: 1rem;
}

.search_item img {
    height: 4rem;
    width: 4rem;
}

.burger_menu__icon {
    display: none;
    cursor: pointer;
    padding: 0 1rem;

    @media (max-width: 650px) {
        display: block;
    }
}
