.green_badge .ant-badge-count {
    background-color: var(--green);
}

.green_badge:hover .ant-badge-count {
    background-color: var(--green-hover) !important;
}

.green_badge .ant-badge-count:hover {
    background-color: var(--green-hover) !important;
}
