.footer {
    display: flex;
    flex-direction: column;
}

.footer_top {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    text-wrap: wrap;
    padding: 3rem 5rem;
    flex-wrap: wrap;

    @media (max-width: 535px) {
        flex-direction: column;
        gap: 2rem;
    }
}

.footer_bottom {
    background-color: var(--green-background);
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--green);

    @media (max-width: 535px) {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}

.footer_bottom__item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
    width: 15rem;
    text-wrap: wrap;

    @media (max-width: 535px) {
        width: 10rem;
    }
}

.footer_bottom__item img {
    width: 2rem;
}

.footer_right {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}
