:root {
    --text-color: #3d3d3d;
    --white: #fff;
    --green: #46a358;
    --green-hover: #419752;
    --green-background: rgba(70, 163, 88, 0.1);
    --second-text-color: #727272;
    --white-gray-second-text-color: #acacac;
    --background-color: #fbfbfb;
    --background-product-cart-color: rgb(236, 236, 236);
    --line-color: rgb(197, 230, 197);
    --form-border-color: #eaeaea;
    --error-color: #ff5656;
    --background-modal: rgba(0, 0, 0, 0.55);
    --background-order: rgb(237, 254, 237);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;

    font-size: 15px;

    @media (max-width: 1000px) {
        font-size: 13px;
    }

    @media (max-width: 450px) {
        font-size: 12px;
    }
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    text-decoration: none;
    color: var(--green) !important;
}

.tabs .ant-tabs-tab-active > .ant-tabs-tab-btn {
    color: var(--green) !important;
}

.tabs .ant-tabs-tab-btn:hover {
    color: var(--green) !important;
}

.tabs .ant-tabs-ink-bar {
    background: var(--green) !important;
}
.ant-select-item-option-active {
    background-color: var(--green-background) !important;
}

.ant-select-item-option-selected {
    background-color: var(--green-background) !important;
}

.ant-select-selector:hover {
    border-color: var(--green) !important;
}

.ant-select-open .ant-select-selector {
    border-color: var(--green) !important;
}

.ant-select-focused .ant-select-selector {
    border-color: var(--green) !important;
}
